<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.cloneworkspace.CloneWorkspaceSCM" plugin="clone-workspace-scm@0.6">
    <parentJobName>SportsQ-CI</parentJobName>
    <criteria>Successful</criteria>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveCommand">
        <containerIds>sportsquest-$PIPELINE_ID</containerIds>
        <ignoreIfNotFound>true</ignoreIfNotFound>
        <removeVolumes>false</removeVolumes>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateContainerCommand">
        <image>ordina-cd/sportsquest:$PIPELINE_ID</image>
        <command></command>
        <hostName></hostName>
        <containerName>sportsquest-$PIPELINE_ID</containerName>
        <envVars></envVars>
        <links></links>
        <exposedPorts></exposedPorts>
        <cpuShares></cpuShares>
        <memoryLimit></memoryLimit>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StartCommand">
        <containerIds>sportsquest-$PIPELINE_ID</containerIds>
        <publishAllPorts>false</publishAllPorts>
        <portBindings>8888:8080</portBindings>
        <waitPorts></waitPorts>
        <links></links>
        <bindMounts></bindMounts>
        <privileged>false</privileged>
        <containerIdsLogging></containerIdsLogging>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateContainerCommand">
        <image>selenium/hub:2.48.2</image>
        <command></command>
        <hostName></hostName>
        <containerName>selenium-hub-$PIPELINE_ID</containerName>
        <envVars></envVars>
        <links></links>
        <exposedPorts></exposedPorts>
        <cpuShares></cpuShares>
        <memoryLimit></memoryLimit>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StartCommand">
        <containerIds>selenium-hub-$PIPELINE_ID</containerIds>
        <publishAllPorts>false</publishAllPorts>
        <portBindings></portBindings>
        <waitPorts>selenium-hub-$PIPELINE_ID 4444</waitPorts>
        <links></links>
        <bindMounts></bindMounts>
        <privileged>false</privileged>
        <containerIdsLogging></containerIdsLogging>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateContainerCommand">
        <image>selenium/node-chrome:2.48.2</image>
        <command></command>
        <hostName></hostName>
        <containerName>selenium-chrome-$PIPELINE_ID</containerName>
        <envVars></envVars>
        <links></links>
        <exposedPorts></exposedPorts>
        <cpuShares></cpuShares>
        <memoryLimit></memoryLimit>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StartCommand">
        <containerIds>selenium-chrome-$PIPELINE_ID</containerIds>
        <publishAllPorts>false</publishAllPorts>
        <portBindings></portBindings>
        <waitPorts></waitPorts>
        <links>selenium-hub-$PIPELINE_ID:hub,sportsquest-$PIPELINE_ID:web</links>
        <bindMounts></bindMounts>
        <privileged>false</privileged>
        <containerIdsLogging></containerIdsLogging>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <hudson.tasks.Shell>
      <command># Giving selenium node a chance to come online
sleep 5</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateContainerCommand">
        <image>jtechnologies/continuousdelivery-protractor</image>
        <command></command>
        <hostName></hostName>
        <containerName>protractor-$PIPELINE_ID</containerName>
        <envVars></envVars>
        <links>selenium-hub-$PIPELINE_ID:hub</links>
        <exposedPorts></exposedPorts>
        <cpuShares></cpuShares>
        <memoryLimit></memoryLimit>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StartCommand">
        <containerIds>protractor-$PIPELINE_ID</containerIds>
        <publishAllPorts>false</publishAllPorts>
        <portBindings></portBindings>
        <waitPorts></waitPorts>
        <links></links>
        <bindMounts>/home/core/docker/volumes/jenkins/$WORKSPACE/src/main/test/e2e/:/code</bindMounts>
        <privileged>false</privileged>
        <containerIdsLogging>protractor-$PIPELINE_ID</containerIdsLogging>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <hudson.tasks.Shell>
      <command>curl -sX GET http://10.1.42.1:2375/containers/protractor-$PIPELINE_ID/logs?stderr=1\&amp;stdout=1\&amp;follow=1


</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveCommand">
        <containerIds>protractor-$PIPELINE_ID</containerIds>
        <ignoreIfNotFound>false</ignoreIfNotFound>
        <removeVolumes>false</removeVolumes>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StopCommand">
        <containerIds>selenium-chrome-$PIPELINE_ID</containerIds>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveCommand">
        <containerIds>selenium-chrome-$PIPELINE_ID</containerIds>
        <ignoreIfNotFound>false</ignoreIfNotFound>
        <removeVolumes>false</removeVolumes>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StopCommand">
        <containerIds>selenium-hub-$PIPELINE_ID</containerIds>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveCommand">
        <containerIds>selenium-hub-$PIPELINE_ID</containerIds>
        <ignoreIfNotFound>false</ignoreIfNotFound>
        <removeVolumes>false</removeVolumes>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.31">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StopCommand">
        <containerIds>sportsquest-$PIPELINE_ID</containerIds>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
  </builders>
  <publishers>
    <hudson.plugins.textfinder.TextFinderPublisher plugin="text-finder@1.10">
      <regexp>.*0 failures.*</regexp>
      <succeedIfFound>true</succeedIfFound>
      <unstableIfFound>false</unstableIfFound>
      <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
    </hudson.plugins.textfinder.TextFinderPublisher>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger plugin="build-pipeline-plugin@1.4.7">
      <configs/>
      <downstreamProjectNames>SportsQ-into-production</downstreamProjectNames>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.3">
      <template>${FILE,path=&quot;version.txt&quot;}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>