
/* app css stylesheet */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/*Angular UI Bootstrap required styling*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Sliding panels */
/* To let AngularJS detect animation, set CSS keyframe animation properties on sliding window also. */
.slidingpanel.ng-enter, .slidingpanel.ng-leave {
    -webkit-transition-duration: 10s;
    transition-duration: 10s;
}

.slidingpanel-body {
    position: relative;
    z-index: 2;
    top: 0;
    left: 25%;
    height: 100%;
    width: 50%;
    background-color: #2c2c2c;
    border-radius: 8px;
    text-align: center;

    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.slidingpanel-body p:first-child {
    margin-top: 0;
}

.ng-enter .slidingpanel-body {
    -webkit-animation: 1.5s slide-animation-enter;
    -webkit-animation-timing-function: ease-out;
    animation: 1.5s slide-animation-enter;
    animation-timing-function: ease-out;
}

.ng-leave .slidingpanel-body {
    -webkit-animation: 1.0s slide-animation-leave;
    -webkit-animation-timing-function: ease-in;
    animation: 1.0s slide-animation-leave;
    animation-timing-function: ease-in;
}

.slidingpanel-background {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .4;
    background-color: black;
}

@keyframes slide-animation-enter {
    from {
        left: 100%;
    }
}

@keyframes slide-animation-leave {
    to {
        left: 100%;
    }
}

@-webkit-keyframes slide-animation-enter {
    from {
        left: 100%;
    }
}

@-webkit-keyframes slide-animation-leave {
    to {
        left: 100%;
    }
}

.ng-enter .slidingpanel-background {
    -webkit-animation: 1.0s background-animation-enter;
    animation: 1.0s background-animation-enter;
}

.ng-leave .slidingpanel-background {
    -webkit-animation: 1.0s background-animation-leave;
    animation: 1.0s background-animation-leave;
}

@keyframes background-animation-enter {
    from {
        opacity: 0;
    }
}

@keyframes background-animation-leave {
    to {
        opacity: 0;
    }
}

@-webkit-keyframes background-animation-enter {
    from {
        opacity: 0;
    }
}

@-webkit-keyframes background-animation-leave {
    to {
        opacity: 0;
    }
}

/* Bootstrap overrides */

.panel-heading {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #3380c9;
}

.panel-title {
    padding: 20px;
    font-size: 120%;
    font-weight: lighter;
    color: #f5f5f5;
}

.panel-body {
    color: #f5f5f5;
}