<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.25">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveCommand">
        <containerIds>sportsquest-$PIPELINE_ID</containerIds>
        <ignoreIfNotFound>true</ignoreIfNotFound>
        <removeVolumes>false</removeVolumes>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.25">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateContainerCommand">
        <image>ordina-cd/sportsquest:$PIPELINE_ID</image>
        <command></command>
        <hostName></hostName>
        <containerName>sportsquest-$PIPELINE_ID</containerName>
        <envVars></envVars>
        <links></links>
        <exposedPorts></exposedPorts>
        <cpuShares></cpuShares>
        <memoryLimit></memoryLimit>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.25">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StartCommand">
        <containerIds>sportsquest-$PIPELINE_ID</containerIds>
        <publishAllPorts>false</publishAllPorts>
        <portBindings>8888:8080</portBindings>
        <waitPorts></waitPorts>
        <links></links>
        <bindMounts></bindMounts>
        <privileged>false</privileged>
        <containerIdsLogging></containerIdsLogging>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
  </builders>
  <publishers>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger plugin="build-pipeline-plugin@1.4.7">
      <configs>
        <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters plugin="parameterized-trigger@2.17">
          <properties>PIPELINE_ID=$PIPELINE_ID</properties>
        </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
      </configs>
      <downstreamProjectNames>SportsQuest-Docker stop container</downstreamProjectNames>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.17">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>PIPELINE_ID=$PIPELINE_ID</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>SportsQuest-Regression-Tests</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>